body {
    font-family:Arial, Helvetica, sans-serif ;
    background-color: rgb(233, 192, 229);
}

.minii-hobby {
    text-align: center;
   background-color: rgb(34, 32, 153);
   color: white;
}
.minii {
display: flex;
justify-content: center;
color: white;
background-color: rgb(53, 48, 51);
}

.Tankhilun{
    border-radius: 10px;
margin: 30px;
padding: 1px 3px 20px;
background-color: azure;
}
.container {
border-radius: 10px;
margin: 30px;
padding: 1px 3px 20px;
background-color: azure;
}

button {
padding: 10px;
color: blue;
margin: 10px;
}
.olaa {
    font-size: 20px;
}

.hallo {
     text-align: center;
}